@import url("./depfaces.css");
@import url("./customfaces.css");

@font-face {
  font-family: DEP;
  src:
    url("/fonts/DEP/DEP.ttf") format("truetype"),
    url("/fonts/DEP/DEP.woff") format("woff"),
    url("/fonts/DEP/DEP.woff2") format("woff2"),
    url("/fonts/DEP/DEP.otf") format("opentype"),
    url("https://spax.zone/fonts/DEP/DEP.ttf") format("truetype"),
    url("https://spax.zone/fonts/DEP/DEP.woff") format("woff"),
    url("https://spax.zone/fonts/DEP/DEP.woff2") format("woff2"),
    url("https://spax.zone/fonts/DEP/DEP.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

html,
body {
  inset: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden auto;
  image-rendering: pixelated;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

:root {
  --g1v: 224 248 207;
  --g2v: 134 192 108;
  --g3v: 48 104 80;
  --g4v: 7 24 33;
  --r1v: 255 0 0;
  --g1: rgb(var(--g1v));
  --g2: rgb(var(--g2v));
  --g3: rgb(var(--g3v));
  --g4: rgb(var(--g4v));
  --r1: rgb(var(--r1v));
}

body {
  font-family: DEP;
  font-size: 21px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
  background: repeat var(--g3) url("/images/bg/background_yoki.png") center/960px;
  image-rendering: pixelated;
  height: fit-content;
  min-height: 100vh;
}

@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: var(--g2) var(--g4);
  }
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    background: var(--g2);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--g4);
  }
}

article::selection,
article ::selection {
  background-color: var(--g3);
}

article {
  position: relative;
  border: 3.5px solid var(--g1);
  letter-spacing: 4.25px;
  line-height: 21px;
  background: black;
  padding: 17px;
  padding-left: 18.359px;
  color: var(--g1);
  height: fit-content;
  overflow: hidden;
  width: 100%;
  max-width: 645px;
  min-width: 645px;
  min-height: 133px;
  word-wrap: break-word;
  cursor: default;
}

article[who] {
  padding-left: 131.26px;
}

article[who]::before {
  content: "";
  display: block;
  position: absolute;
  aspect-ratio: 1/1;
  height: 97px;
  left: 15px;
  top: 15px;
}

article::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  left: calc(50% - 5px);
  bottom: 0;
  aspect-ratio: 5/4;
  height: 8px;
  background: url("/images/misc/next_arrow.png") center/100%;
  animation: alternate arrow 0.75s steps(2, jump-none) infinite;
  transition: opacity 0.1s;
  opacity: 0;
}

article.alwaysshowarrow::after {
  opacity: 1;
  transition: none;
}

article:hover::after,
article:active::after {
  opacity: 1;
}

article span[title] {
  text-decoration: underline;
  cursor: help;
}

article textarea {
  width: 100%;
  background: inherit;
  color: inherit;
  font-family: inherit;
  resize: none;
  border: solid 2px var(--g1);
}

@keyframes arrow {
  0% {
    bottom: 2px;
  }
  50% {
    bottom: 1px;
  }
  100% {
    bottom: 0;
  }
}

.red {
  color: var(--r1);
}


a:link, a:visited {
  color: var(--g2);
}
a:hover {
  color: var(--g1);
}
a:active {
  color: var(--g3);
}

/*TODO: turn "type" into basic classes*/

article.art {
  text-align: center;
}
article.art img {
  width: 100%;
  padding: 0;
  image-rendering: auto;
}

article.description {
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: underline;
  min-height: 0;
}

article.title {
  font-size: 25px;
  letter-spacing: 1px;
  min-height: 0;
}

article.short {
  min-height: 0;
}

article.center {
  text-align: center;
}

article.picker {
  min-width: 368px;
  min-height: 0;
  width: 368px;
  margin-bottom: -5px;
  padding: 15px;
}

.highlight {
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  background-clip: padding-box;
  /* transition: background-color 0.1s; */
}

@media screen and (prefers-reduced-motion) {
  span.highlight:hover,
  span.highlight:active {
    animation: none;
  }
}

.highlight:hover,
.highlight:active {
  cursor: pointer;
  background-color: var(--g2);
  animation: alternate hl 0.4s linear infinite;
}

article.picker::after {
  content: none;
}

@keyframes hl {
  0% {
    background-color: var(--g2);
  }
  100% {
    background-color: rgb(var(--g2v) / 0.3);
  }
}

article.buttons img {
  width: 88px;
  height: 31px;
  image-rendering: auto;
}

@media only screen and (max-width: 645px) {
  article:not(.picker) {
    width: 100% !important;
    min-width: revert;
  }
  article.art {
    min-width: revert;
  }
}

@media only screen and (max-width: 368px) {
  article.picker {
    width: 100%;
  }
}