@use "sass:math";
@use "variables";
@use "depfont";
@use "depfaces" as *;
@use "customfaces" as *;
@use "textboxes" as *;

@font-face {
  font-family: "Twemoji";
  src: url("/fonts/Twemoji.otf");
}

@mixin font-smoothing($value) {
  font-smooth: $value;
  -webkit-font-smoothing: $value;
}

:root {
  color-scheme: only dark;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html,
body {
  inset: 0;
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden auto;
}

body {
  font-family: "DEP", "Twemoji", monospace;
  font-size: 21px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 5px 0;
  gap: 5px;
  @include font-smoothing(never);
  background: url("/images/bg/background_yoki.png") center 0px/960px repeat fixed var(--g3);
  image-rendering: pixelated;
  
  &.threads {
    gap: 15px;
  }
  &.pre {
    article {
      white-space: pre;
    }
  }
  &.accurate article:not(.inaccurate) {
    letter-spacing: 4.25px;
    line-height: 21px;
    padding: 17px;
    padding-left: 18.359px;
    
    &[who] {
      padding-left: 131.26px;
    }
  }
  &.nowrap article:not(.wrap) {
    white-space: nowrap;
  }
}

* {
  scrollbar-color: var(--g2) var(--g4);
}

::-webkit-scrollbar {
  background: var(--g2);
  
  &-thumb {
    background: var(--g4);
  }
}

section {
  @include textboxwrapper();
}

article {
  @include textbox();
  @include depfaces();
  @include customfaces();
}

.underline {
  text-decoration: underline;
}

.bilinear {
  image-rendering: smooth;
}

.pixelated {
  image-rendering: pixelated;
}

body [title] {
  cursor: help;
}

details {
  @include box("short");
  & > summary {
    cursor: pointer;
    &::marker, &::-webkit-details-marker {
      //content: url("/images/misc/next_arrow.png");
      content: "> ";
      color: var(--g2);
    }
  }
  &[open] > summary {
    &::marker, &::-webkit-details-marker {
      content: "V ";
    }
  }
}

@media only screen and (prefers-reduced-motion) {
  span.highlight:hover,
  span.highlight:active {
    animation: none;
  }
}