@use "sass:string";
@use "sass:list";

@function str-permutations($string) {
  $result: ();
  $has-dash: string.index($string, "-");
  $has-underscore: string.index($string, "_");
  $has-carat: string.index($string, "^");
  
  @if not $has-dash and not $has-underscore and not $has-carat {
    @return ($string,);
  }
  
  $better-string: str-replace-all($string, "^", "_");
  $dash-permutation: $better-string;
  $underscore-permutation: $better-string;
  $no-separator-permutation: $better-string;
  
  $dash-permutation: str-replace-all($dash-permutation, "_", "-");
  
  $underscore-permutation: str-replace-all($underscore-permutation, "-", "_");
  
  $no-separator-permutation: str-replace-all($no-separator-permutation, "-", "");
  $no-separator-permutation: str-replace-all($no-separator-permutation, "_", "");
  
  $result: list.append($result, $dash-permutation);
  
  @if $dash-permutation != $underscore-permutation {
    $result: list.append($result, $underscore-permutation);
  }
  
  @if $no-separator-permutation != $dash-permutation and $no-separator-permutation != $underscore-permutation {
    $result: list.append($result, $no-separator-permutation);
  }
  
  @return $result;
}

@function str-replace($string, $search, $replace: "") {
  $index: string.index($string, $search);
  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }
  @return $string;
}

@function str-replace-all($string, $search, $replace: "") {
  $result: $string;
  @while string.index($result, $search) {
    $result: str-replace($result, $search, $replace);
  }
  @return $result;
}