$colors: (
  g1: (224, 248, 207),
  g2: (134, 192, 108),
  g3: (48, 104, 80),
  g4: (7, 24, 33),
  
  o1: (244, 211, 132),
  o2: (255, 158, 57),
  o3: (255, 91, 57),
  o4: (213, 59, 52),
  o5: (190, 38, 45),
  o6: (143, 45, 52),
  
  p1: (186, 229, 254),
  p2: (98, 115, 242),
  
  b1: (0, 0, 0),
  w1: (255, 255, 255),
  r1: (255, 0, 0)
);

:root {
  @each $name, $value in $colors {
    --#{$name}v: #{$value};
    --#{$name}: rgb(var(--#{$name}v));
  }
}

@each $name, $value in $colors {
  .#{$name} {
    color: var(--#{$name});
  }
}