@font-face {
  src: url("./assets/accidental_presidency.ttf");
  font-family: "Accidental Presidency";
}

:root {
  --swamp: #367d6b;
  --navy: #050918;
  --salmon: #ac0028;
  --peach: #ffdeb1;
  --mud: #682e18;
  --olive: #73730f;
  --offwhite: #ffeed5;
  --offblack: #050b15;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--mud);
  background-image: url("./assets/screenshot-11.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Accidental Presidency";
  color: var(--offwhite);
  text-shadow: 0 0 5px var(--offblack);
  text-align: center;
  overflow: hidden;
}

body::before {
  width: 100vw;
  height: 100vh;
  position: absolute;
  content: "";
  background-color: black;
  opacity: 0.3;
  z-index: -1;
}

h1 {
  font-size: 3rem;
}

#logo {
  image-rendering: pixelated;
  width: 500px;
  height: min-content;
  margin-top: 5%;
  animation: bob alternate ease-in-out 5s infinite;
}

@keyframes bob {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

#title {
  margin-top: -20px;
  margin-bottom: 50px;
  text-shadow:
    -2px -2px 0 var(--offblack),
    -2px 0px 0 var(--offblack),
    2px -2px 0 var(--offblack),
    2px 0px 0 var(--offblack),
    -2px 2px 0 var(--offblack),
    0px -2px 0 var(--offblack),
    2px 2px 0 var(--offblack),
    0px 2px 0 var(--offblack);
}

label {
  font-size: 32px;
}

input, textarea, button {
  background-color: var(--offwhite);
  color: var(--offblack);
  border: solid 2px var(--offblack);
  border-radius: 3px;
}

textarea {
  resize: none;
  width: 400px;
  max-width: 100%;
}

/*#drunkify {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  height: 50px;
  font-weight: 600;
  font-size: 100%;
}*/

button {
  cursor: pointer;
}

label[for="drunkoutput"] {
  margin-top: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 20px auto;
}

a:link {
  color: var(--swamp);
}
a:visited {
  color: var(--olive);
}
a:hover {
  color: var(--offwhite);
}
a:active {
  color: var(--mud);
}