/*.text-box{
    font-size:20px;
}*/

#ominous-countdown{
    background-color: #000000;
}

/*change this later to be more accurate but it'll do for now*/
/*haha it's changed to be more accurate now gj me*/
@font-face {
    font-family: DEP;
    src: url("fonts/DEP/DEP.ttf") format("truetype"),
         url("fonts/DEP/DEP.woff") format("woff"),
         url("fonts/DEP/DEP.otf") format("opentype"),
         url(https://codehs.com/uploads/98892640bda8f3fe5654e3c6d20d5c8c)format("truetype");
    /*why the fuck does the local one not work WTF*/
}


:root{
--green1: #e0f8cf;
--green2: #86c06c;
--green3: #306850;
--green4: #071821;
}

/*
var(--green1)
var(--green2)
var(--green3)
var(--green4)
*/

body{
    background-color: var(--green3);
    font-family: DEP;
    font-size: 20px;
    color: var(--green1);
    line-height: 27px;
    background-image: url("background_yoki.png");
    background-repeat: repeat;
}

.text-box{
    border-width: 4px;
    border-style: solid;
    border-color: var(--green1);
    background-color: black;
    font-family: DEP;
    color: var(--green1);
    margin: 0 auto;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 15px 15px 10px 17px;
    font-size: 19px;
    border-radius: 3px;
    word-wrap: break-word;
    letter-spacing: 1px;
    min-width: 587px;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}

.text-box img{
    width: 100px;
    height: 100px;
    margin: 0px 15px 5px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}

.alt-text-box{
    border-width: 4px;
    border-style: solid;
    border-color: var(--green1);
    background-color: black;
    font-family: DEP;
    color: var(--green1);
    margin: 5px 33% 5px 0px;
    padding: 5px 5px 5px 5px;
    font-size: 24px;
    border-radius: 3px;
    word-wrap: break-word;
    letter-spacing: 1px;
}

.alt-text-box img{
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 138px;
    width: 50%;
}

div .small{
    font-size: 8px;
}
div .large{
    font-size: 25px;
}

div .larger{
    font-size: 38px;
}

.gradient{
    background: linear-gradient(
            to right, var(--green1), #000, #000);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
}
audio{
    display: none;
}

*.unselectable{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

/*background:linear-gradient(to right,var(--green1),#000,#000);-webkit-text-fill-color:transparent;-webkit-background-clip:text;*/

@media only screen and (max-width: 647px) {
  .text-box{
    transform: translate(0%, 0%);
    min-width:0px;
  }
  .flex-container{
    width: 100%;
  }
  .alt-text-box{
    padding: 5px 5px 5px 15px;
  }
}

#date{
    float:right;
}


