/*.text-box{
    font-size:20px;
}*/

#ominous-countdown{
    background-color: #000000;
}

/*change this later to be more accurate but it'll do for now*/
@font-face {
    font-family: DEP;
    src: local("DEP.ttf") format("truetype");
    src: url(https://codehs.com/uploads/dae692d9ff24763f38a8f05dd7880be1) format("truetype");
}


:root{
--green1: #e0f8cf;
--green2: #86c06c;
--green3: #306850;
--green4: #071821;
background-color: var(--green2);
}

/*
var(--green1)
var(--green2)
var(--green3)
var(--green4)
*/

body{
    background-color: var(--green2);
    font-family: DEP;
    font-size: 24px;
    color: var(--green1);
}

.text-box{
    border-width: 4px;
    border-style: solid;
    border-color: var(--green1);
    background-color: black;
    font-family: DEP;
    color: var(--green1);
    margin: 2.5px 25% 2.5px 25%;
    padding: 5px 15px 5px 15px;
    font-size: 24px;
    border-radius: 3px;
    float: right;
}

.text-box img{
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.alt-text-box{
    border-width: 4px;
    border-style: solid;
    border-color: var(--green1);
    background-color: black;
    font-family: DEP;
    color: var(--green1);
    margin: 5px 33% 5px 0px;
    padding: 5px 5px 5px 5px;
    font-size: 24px;
    border-radius: 3px;
    float: right;
}

.alt-text-box img{
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 138px;
    width: 50%;
}

@media only screen and (max-width: 647px) {
  .text-box {
    margin: 2.5px 1% 2.5px 1%;
  }
  .flex-container{
    width: 98%;
  }
}
