:root {
  --desaturated-yellow: rgb(35, 35, 0);
  --desaturated-red: rgb(34, 0, 0);
  --color-notWhite: rgb(255 249 242);
  --color-notBlack: rgb(25 25 25);
  --color-cherry: rgb(131 37 79);
  --color-strawberry: rgb(229 107 111);
  --color-mango: rgb(255 171 92);
  --color-longan: rgb(255 216 168);
  --black: rgba(0,0,0,0.2);
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
}

html {
  background: linear-gradient(to bottom, var(--color-strawberry), var(--color-mango));
}
html::after {
  content: "";
  position: fixed;
  top: 0;
  image-rendering: pixelated;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* thanks */
  background-image: url(data:image/gif;base64,R0lGODlhCgAKAKECADAwMEdHR15eXl5eXiH5BAEKAAIALAAAAAAKAAoAAAIRhB2ZhxoM3GMSykqd1VltzxQAOw==);
  background-size: 100px 100px;
  background-position: 0 0, 0 50px, 50px -50px, -50px 0px;
  animation: scroll 5s linear infinite;
}
@keyframes scroll {
  0% {
    background-position: 0 0, 0 50px, 50px -50px, -50px 0px;
  }
  100% {
    background-position: 100px 100px, 100px 150px, 150px 50px, 50px 100px;
  }
}
html, body {
  margin: 0;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: Lexend;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 10vh;
  flex-direction: column;
}

button {
  cursor: pointer;
}

#title {
  /* margin-top: 5rem; */
  font-size: 3rem;
  max-width: 650px;
}

#spin-button {
  font-size: 2rem;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  width: min-content;
  & > div {
    border: 0.075em solid white;
    color: white;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.5);
    padding: 0.5em 1rem;
    pointer-events: none;
    transition: transform 0.15s ease, background-color 0.1s ease;
  }
  &:hover > div {
    background-color: rgb(17, 17, 17, 0.8);
    transform: scale(0.96);
  }
  &:active > div {
    background-color: #333;
    transform: scale(0.94);
  }
  &:disabled > div {
    background-color: black;
    transform: scale(1);
  }
}

#username {
  visibility: hidden;
  margin: 2rem 0;
  font-size: 2rem;
  & > span {
    opacity: 0;
    display: inline-block;
    transition: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    &:not(#at) {
      transform: translateY(-2rem);
    }
    &#at {
      transform: translateX(-2rem);
      transition-delay: 0.75s;
    }
    &#gender {
      transition-delay: 0.25s;
    }
    &#bodypart {
      transition-delay: 0.5s;
    }
    &.separator {
      transition-delay: 0.65s;
    }
  }
}

.slide {
  transition: inherit;
  transform: translateX(0rem) translateY(0rem) !important;
}

#footer {
  position: absolute;
  text-align: center;
  color: white;
  bottom: 0;
  margin: 2% auto;
  & > a:not(.tag) {
    color: white;
    margin: 1px;
    /* background-color: var(--color-mango); */
  }
}

#animal, #gender, #bodypart {
  text-decoration-line: underline;
  text-decoration-style: solid;
}
#animal {
  text-decoration-color: var(--color-mango);
}
#gender {
  text-decoration-color: var(--color-strawberry);
}
#bodypart {
  text-decoration-color: var(--color-cherry);
}

.separator {
  white-space: pre;
}

#optionscontainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  & > div {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

.tag {
  border: solid 3px var(--color-cherry);
  border-radius: 20px;
  background-color: var(--color-cherry);
  text-decoration: none;
  white-space: pre;
  color: white !important;
  font-size: 0.75rem;
}